body {
    margin:0;
    font-family: "Monaco";
    color: #DDD;
}

a {
    color: #DDD;
}

#clock {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 300px;
    margin-top: -150px;
    margin-left: -350px;

    font-size: 100px;
    text-align: center;
}

